@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');


.App {
  width: 414px;
  min-height: 100vh;
  margin: auto;
  background-color: #F8F8F8;
}

body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}


.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-size: 30px;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

